.welcome {
  text-align: right;
  color: grey;
}

.welcome-user {
  color: rgb(139, 177, 79);
}

.auth-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.auth-box {
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 1px 12px -3px rgba(0, 0, 0, 0.2);
}

.auth-form {
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 20px 30px;
}

.auth-header {
  text-align: center;
  font-size: 30px;
}

.auth-options {
  display: flex;
  margin-top: 80px;
}

.auth-options button {
  width: 50%;
  border: none;
  padding: 15px;
  color: rgb(35, 38, 47);
}

.auth-options button:hover {
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.auth-submit,
.edit {
  margin: 30px 0;
  padding: 12px 15px;
  box-shadow: 3px 0px 12px -3px rgba(0, 0, 0, 0.1);
  background-color: #8bb14f;
  color: white;
  min-width: 150px;
}

.auth-submit:hover,
.edit:hover {
  background-color: rgba(139, 177, 79, 0.5);
  cursor: pointer;
  font-weight: bold;
}

.auth-submit:active,
.edit:active {
  font-weight: bold;
  font-size: 17px;
}

.auth-error {
  color: rgb(139, 177, 79);
  text-decoration: underline;
}

.list-header {
  width: 100%;
  display: flex;
  gap: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.list-header h1 {
  color: rgb(106, 104, 104);
}

@media screen and (max-width: 880px) {
  .list-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (max-width: 360px) {
  .list-header h1 {
    font-size: 25px;
  }
}
.list-item {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  width: 100%;
  margin: 10px 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.tick {
  padding: 10px;
  fill: rgb(139, 177, 79);
}

.task-title {
  width: 250px;
}

body {
  box-sizing: border-box;
  margin: 150px 0;
  padding: 0 30px;
  background-color: whitesmoke;
  color: rgb(69, 67, 67);
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.app {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 3px 0px 12px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 500px;
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.modal .form-title-container {
  display: flex;
  justify-content: space-between;
}

.modal .form-title-container button {
  border: none;
  background-color: transparent;
}

.modal .form-title-container button:active {
  color: #fb4d3d;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  font-size: 13px;
}

.outer-bar {
  width: 200px;
  margin-right: 20px;
  height: 14px;
  background-color: rgb(216, 216, 216);
  border-radius: 7px;
  overflow: hidden;
}

.inner-bar {
  height: 14px;
}

.modal-progress {
  accent-color: rgb(139, 177, 79);
}

@media screen and (max-width: 670px) {
  .outer-bar {
    width: 130px;
  }
}
.button-container,
.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container button {
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 14px;
  color: grey;
  background-color: transparent;
  box-shadow: 3px 0px 12px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.edit-task,
.delete {
  border: 1px solid rgba(128, 128, 128, 0.5);
  text-transform: uppercase;
}

.edit-task:hover,
.edit-task:focus {
  color: white;
  background-color: #5296a5;
}

.edit-task:active {
  background-color: rgba(82, 150, 165, 0.5);
}

.delete:hover,
.delete:focus {
  color: white;
  background-color: rgb(255, 116, 119);
}

.delete:active {
  background-color: rgba(255, 116, 119, 0.5);
}

.create {
  background-color: rgb(139, 177, 79);
  padding: 15px;
  border: 1px solid rgb(139, 177, 79);
  color: white;
}

.create:hover,
.create:focus {
  cursor: pointer;
  background-color: rgb(139, 177, 79);
  color: white;
}

.create:active {
  background-color: rgba(139, 177, 79, 0.8);
}

.signout {
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.signout:hover {
  color: white;
  background-color: #fb4d3d;
}

.signout:active {
  background-color: rgba(251, 77, 61, 0.8);
}

input {
  margin: 15px 0;
  font-size: 17px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

input:focus {
  border-bottom: 1px solid rgb(139, 177, 79);
}

.button-container,
.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container-sign {
  margin-bottom: 15px;
}

.cross {
  font-size: 20px;
}

.cross:hover,
.cross:focus {
  color: rgb(139, 177, 79);
}

.copyright {
  text-align: left;
  margin: 30px 0 0 0;
  font-size: 10px;
}/*# sourceMappingURL=main.css.map */